<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GESTION.Entity.Properties.Settings.GestionTdeAConnectionString"
            connectionString="Data Source=tcp:vulcano92.database.windows.net,1433;Initial Catalog=GestionTdeA;Persist Security Info=False;User ID=Andromeda9229;Password=Andres1023;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>